{{.headerAdmin}}
<style>
    .text_dot {
      display: block;/* or inline-block */
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 3.2em;
      line-height: 1.6rem;
    }
    .card-post__image{
      min-height: 7.3125rem !important;
    }
</style>
<div class="main-content-container container-fluid p-4 ">
  <div class="row">
    <div class="col">
      <div class="card card-small">
        <div class="card-header border-bottom d-flex py-2">
          <h6 class="mb-0 pt-1">Active Users</h6>
          <form action="#" class="ml-auto main-navbar__search  d-none d-md-flex d-lg-flex" id="container-search-dt">
            <div class="input-group input-group-seamless" style="min-width: 24.5rem !important;">
              <div class="input-group-prepend">
                <div class="input-group-text">
                <i class="fas fa-search"></i>
                </div>
              </div>
              <input id="myInputTextField" class="navbar-search form-control" type="text" placeholder="Search data ..." aria-label="Search"  autocomplete="off"> 
            </div>
          </form>
        </div>
        <div class="card-body pb-2 pt-0 px-2">
          <table class="table mb-0" id="table-container" style="font-size: 12px">
            <thead class="bg-light">
              <tr>
                <th scope="col" class="border-0">#</th>
                <th scope="col" class="border-0">First Name</th>
                <th scope="col" class="border-0">Last Name</th>
                <th scope="col" class="border-0">Country</th>
                <th scope="col" class="border-0">City</th>
                <th scope="col" class="border-0">Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Ali</td>
                <td>Kerry</td>
                <td>Russian Federation</td>
                <td>Gdańsk</td>
                <td>107-0339</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Clark</td>
                <td>Angela</td>
                <td>Estonia</td>
                <td>Borghetto di Vara</td>
                <td>1-660-850-1647</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Jerry</td>
                <td>Nathan</td>
                <td>Cyprus</td>
                <td>Braunau am Inn</td>
                <td>214-4225</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Colt</td>
                <td>Angela</td>
                <td>Liberia</td>
                <td>Bad Hersfeld</td>
                <td>1-848-473-7416</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{{.footerAdmin}}
<script>
  var maxW = ($(window).height() || $("body").height()) - 254
  var table ;
  $(document).ready(function(params) {
    drawTable()
  })

  function handleSearch() {
    $(document.body).on('input', '#myInputTextField', function() {
      var leng = $('#myInputTextField').val().length
      var val_ = $('#myInputTextField').val()
      // if(leng > 2 || leng == 0){
      //   clearTimeout(delayTimer);
      //   delayTimer = setTimeout(function() {
      //     getParam()
      //   }, 1000);
      // }
      // table.draw()
      table.search(val_).draw();
    });
  }

  function drawTable(params) {
    table = $('#table-container').DataTable({
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": true,
      "bInfo": false,
      "bAutoWidth": false,
      "pageLength": 15,
      "processing": true,
      "scrollX": "true",
      "scrollY": maxW,
      "paging":true,
      language: {
        processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>'
      },
      // "columnDefs": [
      //   { "width": "140", "targets": 0 },
      //   { "width": "250", "targets": 1 },
      //   { "width": "100", "targets": 2 },
      //   { "width": "350", "targets": 3 },
      //   { "width": "100", "targets": 4 },
      //   { "width": "100", "targets": 5 },
      //   // ,{ "width": "20", "targets": 6 }
      // ]
    })
    $('#table-container_filter').remove()
    handleSearch()
  }

  
</script>