{{.headerClient}}
<div class="main-content-container container" id="main-container">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-4 mb-sm-0">
      </div>

      <div class="col-12 col-sm-4 d-flex align-items-center">
        <div class="btn-group btn-group-sm btn-group-toggle d-inline-flex mb-4 mb-sm-0 mx-auto nav nav-tabs" role="group" aria-label="Page actions">
          <a data-toggle="tab" href="#tab-panggung" role="tab" aria-controls="tab-panggung" aria-selected="true" class="btn btn-white active"> Panggung </a>
          <a data-toggle="tab" href="#tab-tenda" role="tab" aria-controls="tab-tenda" aria-selected="true" class="btn btn-white "> Tenda </a>
          <a data-toggle="tab" href="#tab-dekorasi" role="tab" aria-controls="tab-dekorasi" aria-selected="true" class="btn btn-white"> Dekorasi </a>
        </div>
      </div>
      
      <div class="col-12 col-sm-4 d-flex align-items-center">
        
      </div>
    </div>
    <!-- End Page Header -->
    <!-- Small Stats Blocks -->
    <div class="tab-content">
      <div class="tab-pane p-0 pt-2 active" id="tab-panggung" role="tabpanel" style="overflow-y: auto;overflow-x: hidden;">  
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
              <div class="card-post__image" style="background-image: url('{{.base_url}}asset-barang/dekorasi/Dekorasi-4x4.png');">
                <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a>
              </div>
              <div class="card-body p-3">
                <h5 class="card-title">
                  <a class="text-fiord-blue" href="#" style="font-size: 18px;">Dekorasi 4 x 10</a>
                </h5>
                <p class="card-text d-inline-block mb-3" style="font-size: 10px;">However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                <span class="text-muted">28 February 2019</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane p-0 pt-2" id="tab-tenda" role="tabpanel" style="overflow-y: auto;overflow-x: hidden;">  
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
              <div class="card-post__image" style="background-image: url('{{.base_url}}asset-barang/dekorasi/Dekorasi-5x7.jpg');">
                <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a>
              </div>
              <div class="card-body p-3">
                <h5 class="card-title">
                  <a class="text-fiord-blue" href="#" style="font-size: 18px;">Dekorasi 4 x 10</a>
                </h5>
                <p class="card-text d-inline-block mb-3" style="font-size: 10px;">However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                <span class="text-muted">28 February 2019</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane p-0 pt-2" id="tab-dekorasi" role="tabpanel" style="overflow-y: auto;overflow-x: hidden;">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
              <div class="card-post__image" style="background-image: url('{{.base_url}}asset-barang/dekorasi/Dekorasi-4x4.png');">
                <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a>
              </div>
              <div class="card-body p-3">
                <h5 class="card-title">
                  <a class="text-fiord-blue" href="#" style="font-size: 18px;">Dekorasi 4 x 10</a>
                </h5>
                <p class="card-text d-inline-block mb-3" style="font-size: 10px;">However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>
                <span class="text-muted">28 February 2019</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- End Small Stats Blocks -->
  </div>
  {{.footerClient}}
  <script src="{{.base_url}}asset/asset/jquery-3.6.0/jquery-3.6.0.min.js"></script>
  <script>
    const globalHeightDefault = $('body').height() - 165
    $('#main-container').css('height',globalHeightDefault)
    console.log(globalHeightDefault);
    const urlGetCatalog = '{{.base_url}}client/get-catalog'
    
    $(document).ready(function(){
      getCatalog()
    })
    function getCatalog(params) {
      $.ajax({
        url: urlGetCatalog,
        type: "GET",
        success: function (result) {
          console.log(result);
        }
      })
    }
  </script>