{{.headerClient}}
<style>
  .icon-status{
    font-size: 70px !important;
  }
</style>
<div class="main-content-container container" id="main-container">
    <!-- Page Header -->
    <div class="page-header row no-gutters" style="padding-top:100px">
      <div class="col-12 col-sm-3 text-center text-sm-left mb-4 mb-sm-0 px-2">
        <div class="align-center container" style="text-align: center;">
          <i class="material-icons icon-status">account_balance_wallet</i> 
          <h3 style="font-weight: bold;">Pembayaran</h3>
          <p class="mb-0" style="font-size: 12px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti quidem voluptate ipsum repellendus provident earum vero beatae</p>
          <hr style="width:50%;height:5px;background-color: rgb(46, 222, 46);">
        </div>
      </div>

      <div class="col-12 col-sm-3 text-center text-sm-left mb-4 mb-sm-0 px-2">
        <div class="align-center container" style="text-align: center;">
          <i class="material-icons icon-status">verified</i> 
          <h3 style="font-weight: bold;">Approve</h3>
          <p class="mb-0" style="font-size: 12px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti quidem voluptate ipsum repellendus provident earum vero beatae</p>
        </div>
      </div>

      <div class="col-12 col-sm-3 text-center text-sm-left mb-4 mb-sm-0 px-2">
        <div class="align-center container" style="text-align: center;">
          <i class="material-icons icon-status">running_with_errors</i> 
          <h3 style="font-weight: bold;">Process</h3>
          <p class="mb-0" style="font-size: 12px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti quidem voluptate ipsum repellendus provident earum vero beatae</p>
        </div>
      </div>
      
      <div class="col-12 col-sm-3 text-center text-sm-left mb-4 mb-sm-0 px-2">
        <div class="align-center container" style="text-align: center;">
          <i class="material-icons icon-status">task_alt</i> 
          <h3 style="font-weight: bold;">Selesai</h3>
          <p class="mb-0" style="font-size: 12px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti quidem voluptate ipsum repellendus provident earum vero beatae</p>
        </div>
      </div>

    </div>
    <!-- End Page Header -->
    <!-- Small Stats Blocks -->
    
    
    <!-- End Small Stats Blocks -->
  </div>
  {{.footerClient}}
  <script>
    const globalHeightDefault = $('body').height() - 165
    $('#main-container').css('height',globalHeightDefault)
    console.log(globalHeightDefault);
  </script>