{{.headerClient}}
<div class="main-content-container container" id="main-container">
    <!-- Page Header -->
    <div class="page-header no-gutters py-4">
      <div class="card card-small">
        <div class="card-header py-3">
          <p style="font-size: 15px;" class="mb-0 text-info"><i class="material-icons icon-status">pin_drop</i> Alamat pelaksanaan</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3">
              <p class="mb-0" style="font-size: 12px;">+62-38787-29398-83</p>
            </div>
            <div class="col-lg-9">
              <p class="mb-0" style="font-size: 12px;">Jl.kh hasan marfu , kec. Pameungpeuk kab.garut , desa mancagahar . Rumah mang ahmad dahlan, KAB. GARUT - PAMAEUNGPEUK, JAWA BARAT, ID 44175</p>
            </div>
          </div>
        </div>
        <div class="card-header py-3">
          <p style="font-size: 15px;" class="mb-0 text-info"><i class="material-icons icon-status">pin_drop</i> Alamat pelaksanaan</p>
        </div>
      </div>
    </div>
    
  </div>
  {{.footerClient}}
  <script>
    const globalHeightDefault = $('body').height() - 165
    $('#main-container').css('height',globalHeightDefault)
    console.log(globalHeightDefault);
  </script>